<h1> Wizard Renter </h1>
<h2> Here are our bookings! </h2>
<h2>
  <%= link_to "Rent a game !", new_path, class:"btn btn-primary"%>
  </h2>
<div class="container">
<ul>
<div class="cards mt-3">
  <% @bookings.each do |b| %>
    <%= link_to booking_path(booking) do %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
          </div>

      </div>
    <% end %>
  <% end %>

  <h2>
  <%= link_to "Go to Home", root_path, class:"btn btn-primary"%>
  </h2>
</div>
</ul>
</div>
